.navbar{
    display: flex;
    align-items: center;
    padding: 8px 4px;
    justify-content: space-between;
}
.navbar .logo{
    width: 70px;
    border-radius: 50px;
    height: 70px;
    margin-top: -7px;
    margin-bottom: -8px;
}
.campany-employe{
    text-decoration: none;
    font-size: 22px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.navbar .campany-employe:hover{
    background-color: #9542a5; /* Green */
    color: white;
}
.profile{
    width: 70px;
    border-radius: 50px;
    height: 70px;
    margin-top: -7px;
    margin-bottom: -8px;
}