.navbar{
    display: flex;
    align-items: center;
    padding: 8px 4px;
    justify-content: space-between;
}
.navbar .logo{
    width: 70px;
    border-radius: 50px;
    height: 70px;
    margin-top: -7px;
    margin-bottom: -8px;
}
.profile{
    width: 70px;
    border-radius: 50px;
    height: 70px;
    margin-top: -7px;
    margin-bottom: -8px;
}